.buttons {
	background-color: rgb(237, 238, 255);
}

.btn {
	background-color: rgb(251, 247, 255);
	border: 0;
	color: gray;
}

.container {
	padding: 25px 50px 40px 50px;
	text-align: center;
}

.info {
	color: gray;
}